<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.base.SysSceneMapper">
  <resultMap id="BaseResultMap" type="com.example.entity.SysScene">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="scene_name" jdbcType="NVARCHAR" property="sceneName" />
    <result column="scene_id" jdbcType="NVARCHAR" property="sceneId" />
  </resultMap>
</mapper>