<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.base.TcStatusMapper">
  <resultMap id="BaseResultMap" type="com.example.entity.TcStatus">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="statusID" jdbcType="INTEGER" property="statusid" />
    <result column="statusCode" jdbcType="NVARCHAR" property="statuscode" />
    <result column="statusName" jdbcType="NVARCHAR" property="statusname" />
  </resultMap>
</mapper>