<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.base.TPositionruleMapper">
  <resultMap id="BaseResultMap" type="com.example.entity.TPositionrule">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="RuleID" jdbcType="INTEGER" property="ruleid" />
    <result column="Order" jdbcType="INTEGER" property="order" />
    <result column="Active" jdbcType="INTEGER" property="active" />
  </resultMap>
</mapper>