<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.base.TrUserMapper">
  <resultMap id="BaseResultMap" type="com.example.entity.TrUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="sportid" jdbcType="INTEGER" property="sportid" />
    <id column="userid" jdbcType="INTEGER" property="userid" />
    <result column="user" jdbcType="NVARCHAR" property="user" />
    <result column="passwd" jdbcType="NVARCHAR" property="passwd" />
    <result column="true_name" jdbcType="NVARCHAR" property="trueName" />
    <result column="nick" jdbcType="NVARCHAR" property="nick" />
    <result column="no" jdbcType="NVARCHAR" property="no" />
    <result column="phone" jdbcType="NVARCHAR" property="phone" />
    <result column="email" jdbcType="NVARCHAR" property="email" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="id_type" jdbcType="INTEGER" property="idType" />
    <result column="id_card" jdbcType="NVARCHAR" property="idCard" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
    <result column="imageurl" jdbcType="NVARCHAR" property="imageurl" />
    <result column="imagename" jdbcType="NVARCHAR" property="imagename" />
    <result column="team" jdbcType="NVARCHAR" property="team" />
    <result column="jointype" jdbcType="NVARCHAR" property="jointype" />
  </resultMap>
</mapper>