<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.base2.BusiEnrollEnterMapper">
  <resultMap id="BaseResultMap" type="com.example.entity.BusiEnrollEnter">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sport_id" jdbcType="INTEGER" property="sportId" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="limit" jdbcType="INTEGER" property="limit" />
    <result column="check" jdbcType="CHAR" property="check" />
    <result column="login" jdbcType="CHAR" property="login" />
    <result column="insurance" jdbcType="CHAR" property="insurance" />
    <result column="insurance_info" jdbcType="VARCHAR" property="insuranceInfo" />
    <result column="insurance_id" jdbcType="INTEGER" property="insuranceId" />
    <result column="insurance_amount" jdbcType="DECIMAL" property="insuranceAmount" />
    <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="create_user_id" jdbcType="INTEGER" property="createUserId" />
    <result column="update_user_id" jdbcType="INTEGER" property="updateUserId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="vip" jdbcType="CHAR" property="vip" />
    <result column="vip_amount" jdbcType="DECIMAL" property="vipAmount" />
    <result column="is_show" jdbcType="INTEGER" property="isShow" />
    <result column="describes" jdbcType="VARCHAR" property="describes" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="sell_out" jdbcType="INTEGER" property="sellOut" />
  </resultMap>
</mapper>