<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.base2.BusiArticleMapper">
  <resultMap id="BaseResultMap" type="com.example.entity.BusiArticle">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="label" jdbcType="VARCHAR" property="label" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="state" jdbcType="CHAR" property="state" />
    <result column="column_id" jdbcType="INTEGER" property="columnId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="effect_date" jdbcType="TIMESTAMP" property="effectDate" />
    <result column="bits" jdbcType="INTEGER" property="bits" />
    <result column="comments" jdbcType="INTEGER" property="comments" />
    <result column="praises" jdbcType="INTEGER" property="praises" />
    <result column="ornominate" jdbcType="CHAR" property="ornominate" />
    <result column="ortop" jdbcType="CHAR" property="ortop" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
    <result column="weight" jdbcType="INTEGER" property="weight" />
    <result column="title_url" jdbcType="VARCHAR" property="titleUrl" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="author_url" jdbcType="VARCHAR" property="authorUrl" />
    <result column="media" jdbcType="VARCHAR" property="media" />
    <result column="short_content" jdbcType="VARCHAR" property="shortContent" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="atlas" jdbcType="VARCHAR" property="atlas" />
    <result column="classify_weight" jdbcType="INTEGER" property="classifyWeight" />
    <result column="classify" jdbcType="CHAR" property="classify" />
    <result column="video_url" jdbcType="VARCHAR" property="videoUrl" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
</mapper>