<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.base2.FootBallUserWintegralMapper">
  <resultMap id="BaseResultMap" type="com.example.entity.FootBallUserWintegral">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="win_integral" jdbcType="INTEGER" property="winIntegral" />
    <result column="foot_ball_user_id" jdbcType="INTEGER" property="footBallUserId" />
    <result column="guess_id" jdbcType="INTEGER" property="guessId" />
    <result column="bets_num" jdbcType="INTEGER" property="betsNum" />
    <result column="spend_gold" jdbcType="INTEGER" property="spendGold" />
    <result column="guess_result" jdbcType="INTEGER" property="guessResult" />
    <result column="free_num" jdbcType="INTEGER" property="freeNum" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="utime" jdbcType="TIMESTAMP" property="utime" />
  </resultMap>
</mapper>