<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.base2.GameTurntableUserMapper">
  <resultMap id="BaseResultMap" type="com.example.entity.GameTurntableUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="available_number" jdbcType="INTEGER" property="availableNumber" />
    <result column="share_group_number" jdbcType="INTEGER" property="shareGroupNumber" />
    <result column="share_number" jdbcType="INTEGER" property="shareNumber" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="update_time" jdbcType="INTEGER" property="updateTime" />
  </resultMap>
</mapper>