<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.base2.GameTurntableInfoMapper">
  <resultMap id="BaseResultMap" type="com.example.entity.GameTurntableInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="share_content" jdbcType="VARCHAR" property="shareContent" />
    <result column="is_show" jdbcType="INTEGER" property="isShow" />
    <result column="is_usable" jdbcType="INTEGER" property="isUsable" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="update_time" jdbcType="INTEGER" property="updateTime" />
  </resultMap>
</mapper>