<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.base2.GameTurnableUserPrizeMapper">
  <resultMap id="BaseResultMap" type="com.example.entity.GameTurnableUserPrize">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="prize_id" jdbcType="INTEGER" property="prizeId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="info_id" jdbcType="INTEGER" property="infoId" />
  </resultMap>
</mapper>