<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.base2.SysUserSignMapper">
  <resultMap id="BaseResultMap" type="com.example.entity.SysUserSign">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="uid" jdbcType="INTEGER" property="uid" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="last_sign" jdbcType="TIMESTAMP" property="lastSign" />
  </resultMap>
</mapper>